/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer { 
    background: #3c5a66; /* Old browsers */
    background: -moz-linear-gradient(top,  #3c5a66 0%, #002230 50%, #3c5a66 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3c5a66 0%,#002230 50%,#3c5a66 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3c5a66 0%,#002230 50%,#3c5a66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5a66', endColorstr='#3c5a66',GradientType=0 ); /* IE6-9 */
}